.achievementsControlContainer{
	border: solid;
	border-color: #2f2f2f;
	border-radius: 5px;

	overflow-x: wrap;

	scrollbar-color: darkgrey #2f2f2f;
	scrollbar-width: thin;

	padding-bottom:10px;

}

.achievementsElem{
	width : 100%;
	display: block;
	border: solid 1px grey;
	padding: 1px;
}

.achCourse:focus{
	background-color: lime;
}

#publicCount > button{
	width: 10%;
	text-align: center;
}