<template name="achievementsControl">
	<div class="achievementsControlContainer">
		<div class=controlsTitleBox>
			<span>Achievements</span>
		</div>

		<div class="spacebarBox"> 
			<div class="achievementsElem">
				<label for="publicCount">How many peeps?</label>
				<input type="number" id="publicCount" name="publicCount" required
				minlength="1" maxlength="10" size="14">
			</div>

			<div class="achievementsElem">
				Races
				<button>TOP ouverture porte</button>
				<button>TOP fermeture porte</button>
				<button>TOP samuElRobot parle</button>
				<button>TOP samuElRobot se tait</button>

			</div>

			<div class="achievementsElem">
				Jokes
				<div>samuElRobo sort de l'écran</div>
				<button>ROFL</button>
				<button>:)</button>
				<button>è_é</button>				

				<div>DomSom nostrills</div>
				<button>ROFL</button>
				<button>:)</button>
				<button>è_é</button>

				<div>Sponsors</div>
				<button>ROFL</button>
				<button>:)</button>
				<button>è_é</button>

				<div>metajoke</div>
				<button>ROFL</button>
				<button>:)</button>
				<button>è_é</button>
			</div>


		</div>
	</div>
</template>