<template name="achievementsControl">
	<div class="achievementsControlContainer">
		<div class=controlsTitleBox>
			<span>Achievements</span>
		</div>

		<div class="spacebarBox"> 
			<div class="achievementsElem">
				<div id="publicCount">PublicCount
					<button class="achievementButton">1</button>	
					<button class="achievementButton">2</button>	
					<button class="achievementButton">3</button>	
					<button class="achievementButton">4</button>	
					<button class="achievementButton">5</button>	
					<button class="achievementButton">6</button>	
					<button class="achievementButton">7</button>	
					<button class="achievementButton">8</button>	
					<button class="achievementButton">9</button>	
					<button class="achievementButton">10</button>	
					<button class="achievementButton">11</button>	
					<button class="achievementButton">12</button>	
					<button class="achievementButton">13</button>	
					<button class="achievementButton">14</button>	
					<button class="achievementButton">15</button>	
					<button class="achievementButton">16</button>	
					<button class="achievementButton">17</button>	
					<button class="achievementButton">18</button>	
					<button class="achievementButton">19</button>	
					<button class="achievementButton">20</button>	
					<button class="achievementButton">21</button>	
					<button class="achievementButton">22</button>	
					<button class="achievementButton">23</button>	
					<button class="achievementButton">24</button>	
					<button class="achievementButton">25</button>	
					<button class="achievementButton">26</button>	
					<button class="achievementButton">27</button>	
					<button class="achievementButton">28</button>	
					<button class="achievementButton">29</button>	
					<button class="achievementButton">30</button>	
					<button class="achievementButton">31</button>	
					<button class="achievementButton">32</button>	
					<button class="achievementButton">33</button>	
					<button class="achievementButton">34</button>	
					<button class="achievementButton">35</button>	
					<button class="achievementButton">36</button>	
					<button class="achievementButton">37</button>	
					<button class="achievementButton">38</button>	
					<button class="achievementButton">39</button>	
					<button class="achievementButton">40</button>	
					<button class="achievementButton">41</button>	
					<button class="achievementButton">42</button>	
					<button class="achievementButton">43</button>	
					<button class="achievementButton">44</button>	
					<button class="achievementButton">45</button>	
					<button class="achievementButton">46</button>	
					<button class="achievementButton">47</button>	
					<button class="achievementButton">48</button>	
					<button class="achievementButton">49</button>	
					<button class="achievementButton">50</button>	
					<button class="achievementButton">51</button>	
					<button class="achievementButton">52</button>	
					<button class="achievementButton">53</button>	
					<button class="achievementButton">54</button>	
					<button class="achievementButton">55</button>	
					<button class="achievementButton">56</button>	
					<button class="achievementButton">57</button>	
					<button class="achievementButton">58</button>	
					<button class="achievementButton">59</button>	
					<button class="achievementButton">60</button>	
					<button class="achievementButton">61</button>	
					<button class="achievementButton">62</button>	
					<button class="achievementButton">63</button>	
					<button class="achievementButton">64</button>	
					<button class="achievementButton">65</button>	
					<button class="achievementButton">66</button>	
					<button class="achievementButton">67</button>	
					<button class="achievementButton">68</button>	
					<button class="achievementButton">69</button>	
					<button class="achievementButton">70</button>	
				</div>
			</div>

			<div class="achievementsElem">
				Races
				<button class="achCourse" id="entreePublicStart">TOP ouverture porte</button>
				<button class="achCourse" id="entreePublicEnd">TOP fermeture porte</button>
				<button class="achCourse" id="samuelRobotStart">TOP samuElRobot parle</button>
				<button class="achCourse" id="samuelRobotEnd">TOP samuElRobot se tait</button>

			</div>

			<div class="achievementsElem">
				Jokes
				<div id="situation">samuElRobo sort de l'écran
					<button class="achievementButton">oui</button>
					<button class="achievementButton">modéremment</button>
					<button class="achievementButton">à priori non</button>				
				</div>

				<div id="runningJoke">DomSom nostrills
					<button class="achievementButton">oui</button>
					<button class="achievementButton">modéremment</button>
					<button class="achievementButton">à priori non</button>
				</div>

				<div id="ruptureDeTon">I like to...
					<button class="achievementButton">oui</button>
					<button class="achievementButton">modéremment</button>
					<button class="achievementButton">à priori non</button>
				</div>

				<div id="sponsors">Sponsors
					<button class="achievementButton">oui</button>
					<button class="achievementButton">modéremment</button>
					<button class="achievementButton">à priori non</button>
				</div>

				<div id="metaJoke">metajoke
					<button class="achievementButton">oui</button>
					<button class="achievementButton">modéremment</button>
					<button class="achievementButton">à priori non</button>
				</div>
			</div>

			<div class="achievementsElem">
				HighScores
				{{#each highScore}}
				<p>{{name}}</p>
				
				{{/each}}
			</div>


		</div>
	</div>
</template>