<template name="bookmarksLibrary">
	<div class="bookmarksLibraryContainer">
		<div class=controlsTitleBox>
			<span>Bookmarks</span>
		</div>
		{{#each bookmarks}}
			<div class="bookmarksButtonsBox">
				{{#each data}}
					{{#each params}}
						<!-- this helper checks the key
						of every param to see if it's
						a #bookmark param (and not an #EN
						or // etc.) -->
						{{#if isItABookmark this}}
						<!-- object to pairs is a global template (app_body.js) that converts "this" into an object with key & value -->
						{{#each objectToPairs this}}
							<!-- make a button for every #bookmark -->
							<button class="bookmarkButton" id={{value}}>
							{{value}}
							</button>
						{{/each}}
						{{/if}}
					{{/each}}
				{{/each}}
			</div>
		{{/each}}
	</div>
</template>