<template name="editor">
	<div class="container">
		<!-- story contains the data passed on in the inclusion template tag (storyEditor.html)  -->	
		{{#if editMode}}

<!-- no indentation here to remove unwanted whitespace -->
<textarea class="textAreaContainer">{{#each story}}{{line}}
{{#each params}}{{#each objectToPairs this}}{{key}} {{value}}{{/each}}
{{/each}}
{{/each}}</textarea>


		{{else}}
	 		{{#each story}}
				<div class="lineContainer">
					<p class="line"> {{line}} </p>
					<div class="paramsContainer">
						{{#each params}}
							<div class="lineParams">
							<!-- object to pairs is a global template (app_body.js) that converts "this" into an object with key & value -->
							{{#each objectToPairs this}}
								<p class="params">
									<span class="lineKey {{key}}">{{key}}</span>
									<span class="lineValue">{{value}}</span>
								</p>
							{{/each}}
							</div>
						{{/each}}
					</div>
				</div>
			{{/each}}
		{{/if}}
	</div>
</template>