<template name="racer">
	<div class="patron">

	</div>
	<div class="racerContainer">
		<div class="racerContainerTop">
			<div class="racerPanneau-1">
			</div>
			<div class="racerPanneau-2">
				<img src="/img/races/pub-dicreamcnc.svg" alt="">
			</div>
			<div class="racerPanneau-3">
				<img src="/img/races/pub-region-hdf.svg" alt="">
			</div>
		</div>
		<div class="racerContainerTracks">
			<div class="racerVerticalLines">
				<div class="racerVerticalLine"></div>
				<div class="racerVerticalLine"></div>
				<div class="racerVerticalLine"></div>
				<div class="racerVerticalLine"></div>
				<div class="racerVerticalLine"></div>
				<div class="racerVerticalLine"></div>
			</div>
			<div class="runnerTracks">
				{{#each players}}
				<div class="runnerTrack track{{@index}}">
					<div class="runner" id={{aiguebename}}>

						<div class="personne">
							<div class="sprite{{vous}}1"></div>
							<div class="sprite{{vous}}2"></div>
							<div class="sprite{{vous}}3"></div>
							<div class="sprite{{vous}}4"></div>
							<div class="sprite{{vous}}5"></div>
							<div class="sprite{{vous}}6"></div>
							<div class="sprite{{vous}}7"></div>
							<div class="sprite{{vous}}8"></div>
							<div class="sprite{{vous}}9"></div>
							<div class="sprite{{vous}}10"></div>
							<div class="sprite{{vous}}11"></div>
							<div class="sprite{{vous}}12"></div>
						</div>

					 	<span id="arr{{@index}}" class="arr{{vous}}"> &larr; vous</span>

					</div>
				</div>
			{{/each}}
			</div>
		</div>
	</div>

	<div class="winner">
		🏁 personne de ... wins! 🏁
	</div>
</template>
