/* .patron {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 3px solid orange;
	box-sizing: border-box;
	z-index: 2000;
	pointer-events: none;
	background: url('/races.jpg') no-repeat top left;
	background-size: contain;
	opacity: 0.25;
	opacity: 0;
	mix-blend-mode: difference;
	transition: all 1s;
} */
.winner{
	font-size: 30px;
	opacity: 0;
	z-index:10000000;

	position: fixed;
	left: 50%;
	top: 30%;

	transform: translate(-50%,-50%);

	/*width:300px;*/

	transition: transform 2s, opacity .5s;
}

.personne{
	width:100px;
	height:100px;
	position:relative;
}

.racerContainer{
	transition: opacity 1s;
	opacity: 0;
	position: absolute;
	left: 0vw;
	bottom: 0vh;
	height: 100vh;
	width: 100vw;
	/* border: 4px solid red; */
	box-sizing: border-box;
	overflow: hidden;
}
.racerContainerTop {
	/* border: 4px solid green; */
	box-sizing: border-box;
	height: 18vh;
	background:
	url('/img/races/herbe-subs.svg') no-repeat 55% 2.5vh,
	url('/img/races/herbe-subs.svg') no-repeat -30% 2.5vh,
	url('/img/races/herbe-subs.svg') no-repeat 138% 2.5vh,
	url('/img/races/terrain.svg') no-repeat top left;
	/* background-size: cover, auto; */
	background-size: 44.5vw, 44.5vw, 44.5vw, cover;
}
.racerPanneau-1 img,
.racerPanneau-2 img,
.racerPanneau-3 img {
	max-width: 100%;
	display: block;
}
.racerPanneau-1 {
	position: absolute;
	top: 4.5vh;
	left: 1.1vw;
	width: 10.25vw;
	height: 8vh;
	/* border: 4px solid orchid; */
	box-sizing: border-box;
	background: url('/img/races/panneau1.svg') no-repeat top left;
	padding: 0vh 2.8vw 0vh 1vw;
	display: flex;
	align-items: center;
}
.racerPanneau-2 {
	position: absolute;
	top: 4.25vh;
	left: 16.25vw;
	width: 14.85vw;
	height: 8vh;
	/* border: 4px solid red; */
	box-sizing: border-box;
	background: url('/img/races/panneau2.svg') no-repeat top left;
	padding: 0vh 2.8vw 0vh 1vw;
	display: flex;
	align-items: center;
}
.racerPanneau-3 {
	position: absolute;
	top: 4.15vh;
	left: auto;
	width: 16.5vw;
	height: 7.75vh;
	/* border: 4px solid blue; */
	box-sizing: border-box;
	right: 2.7vw;
	background: url('/img/races/panneau3.svg') no-repeat top left;
	padding: 0.2vh 3vw 0vh 1.5vw;
	display: flex;
	align-items: center;
}
.racerContainerTracks {
	background: url('/img/races/piste.svg') no-repeat top left;
	background-size: cover;
	height: 85vh;
	box-sizing: border-box;
	padding-bottom: 2vh;
	padding-top: 3.7vh;
	margin-top: -3vh;
	margin-left: -3vw;
	margin-right: -3vw;
	padding-left: 2vw;
	padding-right: 3vw;
}
.runnerTracks {
	/* border: 4px solid orange; */
	box-sizing: border-box;
	height: 100%;
	/* background: url('/img/races/piste.svg') no-repeat top left; */
	/* background-size: cover; */
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	position: relative;
	/* border: 4px solid green; */
	box-sizing: border-box;
	transform: skewX(-3deg);
	z-index: 1;
}
.runner {
	display: inline-block;
	position: absolute;
	bottom: 0;
	/* opacity: 0; */
}

.arr{
	opacity: 0;
	display: none;
}

.arrV{
	width: 120px;
	left: 80px;
	position:absolute;
	bottom: 40px;
	opacity: 1;
	display: block;
}

/* tracks */
.runnerTracks::before {
	content: '';
	display: block;
	position: absolute;
	top: -3%;
	left: 8%;
	height: 4vh;
	width: 88%;
	background: url('/img/races/ligne0.svg') no-repeat 0 100%;
	background-size: 100%;
}
.runnerTrack {
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	position: relative;
	box-sizing: border-box;
	/* border: 1px solid red; */
	/* opacity: 0; */
	overflow: visible;
	width: 93%;
	background: no-repeat 49.5% 42%;
	background-size: 20% 35%;
}
.runnerTrack::before {
	content: '';
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0%;
	height: 160%;
	width: 100%;
	background: url('/img/races/ligne1.svg') no-repeat 0 100%;
	background-size: 100%;
}
.runnerTrack::after {
	content: '';
	display: block;
	box-sizing: border-box;
	/* border: 2px solid orchid; */
	position: absolute;
	bottom: 12px;
	left: 49.25%;
	height: 40%;
	max-height: 25px;
	min-height: 10px;
	width: 25px;
	background: url('/img/races/1.svg') no-repeat bottom left;
	z-index: -1;
}
.track0 {left: 2.5%;}
.track1 {left: 2.5%;}
.track2 {left: 2.5%;}
.track3 {left: 2.6%;}
.track4 {left: 2.6%;}
.track5 {left: 2.8%;}
.track6 {left: 2.8%;}
.track7 {left: 2.8%;}
.track8 {left: 2.8%;}
.track9 {left: 2.7%;}
.track10 {left: 2.7%;}
.track11 {left: 2.9%;}
.track12 {left: 2.8%;}
.track13 {left: 2.7%;}
.track14 {left: 2.6%;}
.track15 {left: 2.6%;}
.track16 {left: 2.5%;}
.track17 {left: 2.5%;}

.track0::before {background-image: url('/img/races/ligne1.svg');width: 103%;height: 160%;left: -2.5%;bottom: 0px;}
.track1::before {background-image: url('/img/races/ligne2.svg');width: 104%;height: 240%;left: -3%;}
.track2::before {background-image: url('/img/races/ligne3.svg');width: 105%;height: 200%;left: -3.5%;bottom: 2px;}
.track3::before {background-image: url('/img/races/ligne4.svg');width: 106.07%;left: -3.8%;}
.track4::before {background-image: url('/img/races/ligne5.svg');width: 104.5%;left: -3.5%;bottom: -1px}
.track5::before {background-image: url('/img/races/ligne6.svg');width: 104.25%;left: -2.25%;bottom: -3px;}
.track6::before {background-image: url('/img/races/ligne7.svg');width: 104%;left: -3%;bottom: -2px;}
.track7::before {background-image: url('/img/races/ligne8.svg');width: 104.55%;left: -2.75%;}
.track8::before {background-image: url('/img/races/ligne9.svg');width: 103.25%;left: -2.25%;bottom: -4px;}
.track9::before {background-image: url('/img/races/ligne10.svg');width: 105.4%;left: -2.3%;}
.track10::before {background-image: url('/img/races/ligne11.svg');width: 103.5%;left: -2%;bottom: -1px;}
.track11::before {background-image: url('/img/races/ligne12.svg');width: 105%;left: -2%;bottom: -4px;}
.track12::before {background-image: url('/img/races/ligne13.svg');width: 102.5%;left: -1.25%;bottom: -2px;}
.track13::before {background-image: url('/img/races/ligne14.svg');width: 104.5%;left: -1.5%;}
.track14::before {background-image: url('/img/races/ligne15.svg');width: 104.75%;left: -1.75%;bottom: -3px;}
.track15::before {background-image: url('/img/races/ligne16.svg');width: 106.55%;left: -1.5%;}
.track16::before {background-image: url('/img/races/ligne17.svg');width: 105%;left: -1.25%;bottom: -5px;}
.track17::before {background-image: url('/img/races/ligne18.svg');width: 105%;left: -0.75%;bottom: -2px;}

.racerContainer:not(.racerDarkMode) .V.track0::before {background-image: url('/img/races/ligne1-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track1::before {background-image: url('/img/races/ligne2-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track2::before {background-image: url('/img/races/ligne3-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track3::before {background-image: url('/img/races/ligne4-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track4::before {background-image: url('/img/races/ligne5-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track5::before {background-image: url('/img/races/ligne6-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track6::before {background-image: url('/img/races/ligne7-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track7::before {background-image: url('/img/races/ligne8-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track8::before {background-image: url('/img/races/ligne9-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track9::before {background-image: url('/img/races/ligne10-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track10::before {background-image: url('/img/races/ligne11-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track11::before {background-image: url('/img/races/ligne12-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track12::before {background-image: url('/img/races/ligne13-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track13::before {background-image: url('/img/races/ligne14-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track14::before {background-image: url('/img/races/ligne15-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track15::before {background-image: url('/img/races/ligne16-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track16::before {background-image: url('/img/races/ligne17-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track17::before {background-image: url('/img/races/ligne18-red.svg');}

.track0::after {background-image: url('/img/races/1.svg');}
.track1::after {background-image: url('/img/races/2.svg');}
.track2::after {background-image: url('/img/races/3.svg');}
.track3::after {background-image: url('/img/races/4.svg');}
.track4::after {background-image: url('/img/races/5.svg');}
.track5::after {background-image: url('/img/races/6.svg');}
.track6::after {background-image: url('/img/races/7.svg');}
.track7::after {background-image: url('/img/races/8.svg');}
.track8::after {background-image: url('/img/races/9.svg');}
.track9::after {background-image: url('/img/races/10.svg');}
.track10::after {background-image: url('/img/races/11.svg');}
.track11::after {background-image: url('/img/races/12.svg');}
.track12::after {background-image: url('/img/races/13.svg');}
.track13::after {background-image: url('/img/races/14.svg');}
.track14::after {background-image: url('/img/races/15.svg');}
.track15::after {background-image: url('/img/races/16.svg');}
.track16::after {background-image: url('/img/races/17.svg');}
.track17::after {background-image: url('/img/races/18.svg');}


.racerContainer:not(.racerDarkMode) .V.track0::after {background-image: url('/img/races/1-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track1::after {background-image: url('/img/races/2-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track2::after {background-image: url('/img/races/3-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track3::after {background-image: url('/img/races/4-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track4::after {background-image: url('/img/races/5-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track5::after {background-image: url('/img/races/6-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track6::after {background-image: url('/img/races/7-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track7::after {background-image: url('/img/races/8-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track8::after {background-image: url('/img/races/9-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track9::after {background-image: url('/img/races/10-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track10::after {background-image: url('/img/races/11-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track11::after {background-image: url('/img/races/12-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track12::after {background-image: url('/img/races/13-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track13::after {background-image: url('/img/races/14-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track14::after {background-image: url('/img/races/15-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track15::after {background-image: url('/img/races/16-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track16::after {background-image: url('/img/races/17-red.svg');}
.racerContainer:not(.racerDarkMode) .V.track17::after {background-image: url('/img/races/18-red.svg');}



.racerVerticalLines {
	width: 94.15%;
	height: 79%;
	position: absolute;
	right: 0.25%;
	top: 18%;
	/* border: 4px solid aqua; */
	box-sizing: border-box;
	display: flex;
	z-index: 1;
}
.racerVerticalLine {
	height: 100%;
	width: 5vw;
	background: url('/img/races/verticale0.svg') no-repeat 0 0;
	background-size: contain;
	position: relative;
}
.racerVerticalLine:nth-child(1) {
	background-image: url('/img/races/verticale1.svg');
	margin-right: auto;
	margin-left: 0;
	right: 0.1vw;
	top: 1vh;
}
.racerVerticalLine:nth-child(2) {
	background-image: url('/img/races/verticale1.svg');
	margin-right: auto;
	margin-left: 0;
	left: 2.8vw;
}
.racerVerticalLine:nth-child(3) {
	background-image: url('/img/races/verticale2.svg');
	top: 1.25vh;
	height: 99%;
	left: 0.1vw;
}
.racerVerticalLine:nth-child(4) {
	background-image: url('/img/races/verticale3.svg');
	top: 2vh;
	height: 98%;
}
.racerVerticalLine:nth-child(5) {
	background-image: url('/img/races/verticale4.svg');
	right: 0.3vw;
	top: 1vh;
	height: 99%;
}
.racerVerticalLine:nth-child(6) {
	background-image: url('/img/races/verticale5.svg');
	right: 0.65vw;
	top: 1.25vh;
}

.racerDarkMode .racerContainerTop {background-image: none;}
.racerDarkMode .racerContainerTop .racerPanneau-1,
.racerDarkMode .racerContainerTop .racerPanneau-2,
.racerDarkMode .racerContainerTop .racerPanneau-3 {opacity: 0;visibility: hidden}
.racerDarkMode .racerVerticalLines {opacity: 0;visibility: hidden}
.racerDarkMode .racerContainerTracks {background-image: none;}
.racerDarkMode .runnerTracks::before {opacity: 0;}
.racerDarkMode .runnerTrack:not(.V) .runner {filter: brightness(0.5);}
/* 1v1 race */
.runnerTrack:first-child:nth-last-child(2) ~ .runnerTrack:last-child {
  margin-bottom: 20vh;
}

.sprite1{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-1.png');animation: mymove1 1s infinite linear;
}
.sprite2{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-2.png');animation: mymove2 1s infinite linear;
}
.sprite3{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-3.png');animation: mymove3 1s infinite linear;
}
.sprite4{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-4.png');animation: mymove4 1s infinite linear;
}
.sprite5{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-5.png');animation: mymove5 1s infinite linear;
}
.sprite6{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-6.png');animation: mymove6 1s infinite linear;
}
.sprite7{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-7.png');animation: mymove7 1s infinite linear;
}
.sprite8{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-8.png');animation: mymove8 1s infinite linear;
}
.sprite9{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-9.png');animation: mymove9 1s infinite linear;
}
.sprite10{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-10.png');animation: mymove10 1s infinite linear;
}
.sprite11{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-11.png');animation: mymove11 1s infinite linear;
}
.sprite12{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-12.png');animation: mymove12 1s infinite linear;
}

.runner .personne > div {
	background-size: contain;
	background-repeat: no-repeat;
}

.spriteV1{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-13.png'); opacity: 0;
}
.spriteV2{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-14.png'); opacity: 1;
}
.spriteV3{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-15.png'); opacity: 0;
}
.spriteV4{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-16.png'); opacity: 0;
}
.spriteV5{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-17.png'); opacity: 0;
}
.spriteV6{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-18.png'); opacity: 0;
}
.spriteV7{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-19.png'); opacity: 0;
}
.spriteV8{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-20.png'); opacity: 0;
}
.spriteV9{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-21.png'); opacity: 0;
}
.spriteV10{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-22.png'); opacity: 0;
}
.spriteV11{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-23.png'); opacity: 0;
}
.spriteV12{width:inherit;height:inherit;position:absolute;top:inherit;left:inherit;
background-image: url('/img/running guy-24.png'); opacity: 0;
}


@keyframes mymove1 {
 0.00%,	8.40%{opacity: 1;}
 8.41%, 100%  {opacity:0;}
}
@keyframes mymove2 {
  0%,8.39%,	16.81%, 100%  {opacity:0;}
  8.40%, 16.80% {opacity: 1;}
}
@keyframes mymove3 {
  0%, 16.79%,	25.21%, 100%  {opacity:0;}
  16.80%,	25.20% {opacity: 1;}
}
@keyframes mymove4 {
  0%, 25.19%,	33.61%, 100%  {opacity:0;}
  25.20%,	33.60% {opacity: 1;}
}
@keyframes mymove5 {
  0%, 33.59%,	42.01%, 100%  {opacity:0;}
  33.60%,	42.00% {opacity: 1;}
}
@keyframes mymove6 {
  0%, 41.99%,	50.41%, 100%  {opacity:0;}
  42.00%,	50.40% {opacity: 1;}
}
@keyframes mymove7 {
  0%, 50.39%,	58.81%, 100%  {opacity:0;}
  50.40%,	58.80% {opacity: 1;}
}
@keyframes mymove8 {
  0%, 58.79%,	67.21%, 100%  {opacity:0;}
  58.80%,	67.20% {opacity: 1;}
}
@keyframes mymove9 {
  0%, 67.19%,	75.61%, 100% {opacity:0;}
  67.20%,	75.60% {opacity: 1;}
}
@keyframes mymove10 {
  0%, 75.59%,	84.01%, 100%  {opacity:0;}
  75.60%,	84.00% {opacity: 1;}
}
@keyframes mymove11 {
  0%, 83.99%,	92.41%, 100% {opacity:0;}
  84.00%,	92.40% {opacity: 1;}
}
@keyframes mymove12 {
  0%, 92.40%  {opacity:0;}
  92.41%,	100.00% {opacity: 1;}
}
