<template name="reader">

<!-- 	for testing purposes
 -->	<button class="invertReadingDir">invertReadingDir</button>

	<!-- <div class="patron">
	</div> -->
	<div class="readerContainer">

		<div class="readerColumnWrapper">

			<div class="readerColumn antiChronologicalReading" id="textColumn">

			</div>

			<div class="readerColumnBG">
				<div class="readerColumnBG-bottom"></div>
			</div>

			<div class="answersColumn">

				<ol style="display:none;">
					<li><a class="qcmResponseClickable" href="javascript:;" data-answer-id="1">vraiment, vous allez toucher le sol et ensuite votre bouche?</a></li>
					<li><a class="qcmResponseClickable" href="javascript:;" data-anwser-id="2">continuer à méditer calmement à propos de cette trace de frein</a></li>
				</ol>
				<ol>
					<li><a class="qcmResponseClickable" href="javascript:;" data-answer-id="1">en fait depuis le début vous executez des pas latéraux dans toutes les directions en fixant le gérant dans les yeux, pour signifier votre impatience et votre désir d'exploration.</a></li>
					<li><a class="qcmResponseClickable" href="javascript:;" data-anwser-id="2">à ce stade vous avez peur de lasser le gérant de la plage avec votre spectacle de mime, et vous décidez d'utiliser un nouveau médium : le son. Vous essayez tant bien que mal de reproduire avec votre bouche le bruit que font les chaussures sur le gravier.</a></li>
					<li><a class="qcmResponseClickable" href="javascript:;" data-anwser-id="3">vous vous résignez à avoir recours au geste le plus clair : vous faites marcher votre index et votre majeur en l'air.</a></li>
					<li><a class="qcmResponseClickable" href="javascript:;" data-anwser-id="4">il n'y a vraiment aucune raison de vous toucher à nouveau le coeur. Vous vous touchez donc les molets (une partie du corps particulièrement sollicitée par la marche) tout en regardant le gérant depuis votre position courbée.</a></li>
					<li><a class="qcmResponseClickable" href="javascript:;" data-anwser-id="5">vous enlevez une de vos chaussures et tentez de la faire sentir au gérant de la plage.</a></li>
				</ol>

			</div>

		</div>


	</div>

</template>
