.readerContainer{
	transition: opacity 1s;
}

.readerColumn{
	font-size: 22px;

	position: absolute;
	margin-top: 0px;
	width: 45%;
	height: 98%;
	left: 50%;
	transform: translateX(-50%);
	overflow: scroll;
	background-color: #15171445;
}

ul:last-child{
	color:white;
	margin-bottom:300px;
}

ul{
	transition: color 1s linear;
	color:#2f2f2f;
	padding-right: 40px;
	margin-top: 6px;
	margin-bottom: 6px;
}

.qcmResponse{
	transition: opacity .5s;
	opacity: 0;
	margin-left: 15px !important;
	margin-top: 15px !important;
}

.qcmResponse + ul{
/*	this is to select the first ul following a qcmResponse
	https://css-tricks.com/almanac/selectors/a/adjacent-sibling/
*/
	margin-top: 15px !important;
}

.qcmResponseClickable{
	color: red !important;
}

.qcmResponseClickable:hover{
	color: white !important;
	cursor: pointer;
}

.blueTxt{
	color: blue !important;
}