.readerContainer{
	transition: opacity 1s;
}

.readerColumn{
	font-size: 25px;

	position: absolute;
	margin-top: 0px;
	width: 45%;
	height: 98%;
	left: 50%;
	transform: translateX(-50%);
	overflow: scroll;
	background-color: #15171445;
}

ul:last-child{
	color:#2f2f2f;
}

ul:first-child{
	padding-top:100px;
	color:white;
	margin-bottom:20px;
}

.minable{
	color: red;
}

span::-moz-selection { 
	background: transparent;
}

span::selection {
	background: transparent;
}

ul::-moz-selection { 
	background: transparent;
}

ul::selection {
	background: transparent;
}


.letter{
	cursor: pointer;
}

.letter:hover{
	color: purple!important;
}

.collectedLetter{
	color: #4d4d4d;
}

.collectedWord{
	color: #2f2f2f!important;
}

ul{
	transition: color 4s ease-out;
	color:#2f2f2f;
	padding-right: 40px;
	margin-top: 6px;
	margin-bottom: 6px;
}

.answer{
	transition: opacity .5s;
	opacity: 0;
	margin-left: 15px !important;
	margin-top: 15px !important;
}

.answer + ul{
/*	this is to select the first ul following a qcmResponse
	https://css-tricks.com/almanac/selectors/a/adjacent-sibling/
*/
	margin-top: 15px !important;
}

.clickableAnswer{
	color: red !important;
}

.clickableAnswer:hover{
	color: white !important;
	cursor: pointer;
}

.blueTxt{
	color: blue !important;
}