<template name="reader">

  <div class="readerContainer">

		<div class="readerColumnWrapper">

			<div class="readerColumn antiChronologicalReading" id="textColumn">

        <div class="readerColumnBG-bottom"></div>
			</div>

			<div class="readerColumnBG">
			</div>

			<div class="answersColumn">

				<ol id="answers">
				</ol>
			</div>

		</div>


	</div>
  <div class="waitingScreen">
    <div class="waitingScreenText">
      chargement...
    </div>
		<div class="personne">
			<div class="sprite1"></div>
			<div class="sprite2"></div>
			<div class="sprite3"></div>
			<div class="sprite4"></div>
			<div class="sprite5"></div>
			<div class="sprite6"></div>
			<div class="sprite7"></div>
			<div class="sprite8"></div>
			<div class="sprite9"></div>
			<div class="sprite10"></div>
			<div class="sprite11"></div>
			<div class="sprite12"></div>
		</div>
  </div>

	<div class="faceTorch"></div>

  <div id="pseudo" class="is-hidden">
    <form id="pseudoForm">
      <label for="newPseudo">Choisissez un pseudo<br>(de 4 lettres maximum)</label>
      <input type="text" id="newPseudo" name="" value="" maxlength="4" required>
      <button type="submit" name="button">OK</button>
    </form>
  </div>

</template>
