.faceTorch{
	opacity: 0;
	transition: opacity 1s;
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
}
.readerContainer{
	transition: opacity 1s;
	background: #272822;
}

.readerColumn{
	font-size: calc(19 / 1024 * 100vw);
	line-height: 1.2;
	position: absolute;
	margin-top: 0px;
	width: calc((100vw / 2) - (50 / 1024 * 100vw));
	height: 100vh;
	margin-left: calc(50 / 1024 * 100vw);
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
	scrollbar-width: thin;
	background-color: transparent;
	box-sizing: border-box;
	padding-left: calc(40 / 1024 * 100vw);
	padding-right: calc(20 / 1024 * 100vw);
	z-index: 1;
}

.readerColumn ul:last-child{
	color:#2f2f2f;
}

.readerColumn ul:first-child{
	padding-top:100px;
	color:white;
	margin-bottom:20px;
}

.minable{
	color: red;
}

span::-moz-selection {
	background: transparent;
}

span::selection {
	background: transparent;
}

ul::-moz-selection {
	background: transparent;
}

ul::selection {
	background: transparent;
}


.letter{
	cursor: pointer;
}

.letter:hover{
	color: purple!important;
}

.collectedLetter{
	color: #4d4d4d;
}

.collectedWord{
	color: #2f2f2f!important;
}

.readerColumn ul{
	transition: color 5s ease-out -1s;
	color:#2f2f2f;
	/* padding-right: 40px; */
	margin-top: 6px;
	margin-bottom: 6px;
	padding: 0;
}


.readerColumn.antiChronologicalReading ul {
	padding: 0;
	margin-top: 0;
}
.readerColumn.antiChronologicalReading ul:last-child{
	color:#2f2f2f;
}

.readerColumn.antiChronologicalReading ul:first-child{
	color:white;
	margin-bottom: calc(20 / 600 * 100vh);
	margin-top: calc(50 / 600 * 100vh);
}

.readerColumnBG {
	position: fixed;
	top: 0;
	left: calc(50 / 1024 * 100vw);
	width: calc((100vw / 2) - (50 / 1024 * 100vw));
	height: 100vh;
	background-color: #CCCCCC;
	mix-blend-mode: multiply;
	pointer-events: none;
}

.readerColumnWrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
}
.readerColumnBG-bottom {
	position: fixed;
  left: calc(50 / 1024 * 100vw);
  pointer-events: none;
	bottom: 0;
	z-index: 2;
	width: calc((100vw / 2) - (50 / 1024 * 100vw));
	height: calc(100vh / 3);
	box-sizing: border-box;
    background: linear-gradient(0deg, rgba(32,32,28,1) 0%, rgba(32,32,28,0) 100%);
}
/* left shadow for readerColumn */
.readerColumnBG::before {
    opacity: .5;
	content: '';
	position: absolute;
	left: calc(-24 / 1024 * 100vw);
	width: calc(24 / 1024 * 100vw);
	height: 100%;
	box-sizing: border-box;
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 15%, rgba(0,0,0,1) 100%);
}
/* right shadow for readerColumn */
.readerColumnBG::after {
    opacity: .5;
	content: '';
	position: absolute;
	right: calc(-24 / 1024 * 100vw);
	width: calc(24 / 1024 * 100vw);
	height: 100%;
	box-sizing: border-box;
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 66%, rgba(255,255,255,0) 100%);
}

.answersColumn {
	font-size: calc(19 / 1024 * 100vw);
	line-height: 1.2;
	box-sizing: border-box;
	width: calc(100vw / 2);
	position: absolute;
	right: 0;
	height: 100%;
}

.answersColumn::before {
    opacity: .5;
	content: '';
	width: 100%;
	height: calc(24 / 600 * 100vh);
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 66%, rgba(255,255,255,0) 100%);
	mix-blend-mode: multiply;
}

.answersColumn ol {
	margin: 0;
	margin-top: calc(-10 / 600 * 100vh);
	padding-top: calc(50 / 600 * 100vh);
	padding-bottom: calc(50 / 600 * 100vh);
	padding-left: calc(50 / 1024 * 100vw);
	padding-right: calc(50 / 1024 * 100vw);
	list-style-position: inside;
	color: #FF0000;
}
.answersColumn li {
	margin-bottom: calc(30 / 600 * 100vh);
}
.answersColumn a {
	color: #FF0000;
	text-decoration: none;
	position: relative;
}
.answersColumn a::before {
	content: '';
	position: relative;
	left: 0px;
	margin-left: calc(-30 / 1024 * 100vw);
	top: calc(5 / 1024 * 100vw);
	margin-top: calc(5 / 1024 * 100vw);
	width: calc(30 / 600 * 100vh);
	height: calc(20 / 600 * 100vh);
	display: inline-block;
}

.invertReadingDir {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.answer{
	transition: opacity .5s;
	opacity: 0;
	margin-left: 15px !important;
	margin-top: 15px !important;
}

.answer + ul{
/*	this is to select the first ul following a qcmResponse
	https://css-tricks.com/almanac/selectors/a/adjacent-sibling/
*/
	margin-top: 15px !important;
}

.clickableAnswer{
	color: red !important;
}

.clickableAnswer:hover{
	color: white !important;
	cursor: pointer;
}

.blueTxt{
	color: blue !important;
}

.dice {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 12.5px;
    border: 2px solid black;
    position: relative;
    background-color: whitesmoke;
    margin: 10px;
}

.dice-1 {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    display: inline-block; }

.dice-2 {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 32.5px;
    left: 7.5px;
    display: inline-block;
    box-shadow:25px -25px black;
}


.dice-3 {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    display: inline-block;
    box-shadow:-12.5px 12.5px black,
                12.5px -12.5px black;
}

.dice-4 {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 32.5px;
    left: 7.5px;
    display: inline-block;
    box-shadow:25px 0px black,
                0px -25px black,
                25px -25px black;
}


.dice-5 {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    display: inline-block;
    box-shadow: 12.5px 12.5px black,
                -12.5px 12.5px black,
                12.5px -12.5px black,
                -12.5px -12.5px black;
}

.dice-6 {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 32.5px;
    left: 7.5px;
    display: inline-block;
    box-shadow:25px 0px black,
                0px -12.5px black,
                0px -25px black,
                25px -12.5px black,
                25px -25px black;
}


.waitingScreen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;
}
.waitingScreenText {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	background: white;
	font-size: calc(16 / 1024 * 100vw);
	min-height: 15px;
	padding: 15px;
	border: 6px solid #CCCCCC;
	color: #666;
	margin-bottom: 8px;
}
.waitingScreenText::after {
	content: '';
	display: block;
	position: absolute;
	bottom: -30px;
	right: 22px;
	width: 30px;
	height: 30px;
  background: url('/img/virgule.svg') no-repeat center center;
	background-size: contain;
}
.waitingScreen .personne > div {
	background-size: contain;
	background-repeat: no-repeat;
}
.waitingScreen .sprite1{background-image: url('/img/running guy-13.png');}
.waitingScreen .sprite2{background-image: url('/img/running guy-14.png');}
.waitingScreen .sprite3{background-image: url('/img/running guy-15.png');}
.waitingScreen .sprite4{background-image: url('/img/running guy-16.png');}
.waitingScreen .sprite5{background-image: url('/img/running guy-17.png');}
.waitingScreen .sprite6{background-image: url('/img/running guy-18.png');}
.waitingScreen .sprite7{background-image: url('/img/running guy-19.png');}
.waitingScreen .sprite8{background-image: url('/img/running guy-20.png');}
.waitingScreen .sprite9{background-image: url('/img/running guy-21.png');}
.waitingScreen .sprite10{background-image: url('/img/running guy-22.png');}
.waitingScreen .sprite11{background-image: url('/img/running guy-23.png');}
.waitingScreen .sprite12{background-image: url('/img/running guy-24.png');}
