.spacebarControlContainer{
	border: solid;
	border-color: #2f2f2f;
	border-radius: 5px;

	overflow-x: wrap;

	scrollbar-color: darkgrey #2f2f2f;
	scrollbar-width: thin;

	padding-bottom:10px;

}

.spacebarBox{
	text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.spacebar{
	font-weight: bold;
	color:#b4d273;
	background-color:#2f2f2f;
}