<template name="spacebarControl">
	<div class="spacebarControlContainer">
		<div class=controlsTitleBox>
			<span>Admin Calls</span>
		</div>

		<div class="spacebarBox"> 
			{{#each global}}
				<button class="spacebar" style="{{buttonColorChanger}}"> {{spacebar.control}} </button>
			{{/each}}
			<button class="autorun">Bot autorun</button>
			<button class="showServer">showServer</button>
			<button class="hideServer">hideServer</button>
			<button class="giveWordsToEverybody">giveWordsToEverybody</button>
		</div>
	</div>
</template>