.storyEditorContainer{
	border: solid;
	border-color: #2f2f2f;
	background-color:#272822;
	border-radius: 5px;

	height: 100%;
	overflow-y: scroll;
	overflow-x: wrap;

	scrollbar-color: darkgrey #2f2f2f;
	scrollbar-width: thin;

	/*this is to make the offset top
	relative to this parent.*/
	position: relative;
}

.lineIndex{
	font-size: x-small;
	color: grey;
}

.lineContainer{
	margin-left:10px;
	position: relative;
}

.paramsContainer{
	margin-bottom: 15px;
}
.playersContainer {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(calc(-100% - 10px));
}

.textAreaContainer{
	width: 100%;
	height: 100%;
}
/* .textAreaContainer{
	width: calc(100% - 40px - 22px);
	height: 100%;
	font-size: 16px;
	position: fixed;
	top: 0;
	left: 66px;
	visibility: visible;
	z-index: 1;
  font-family: "firaCodeLight", sans-serif;
} */

.lineParams{
	margin-left:50px;
}

.params{
	margin:0px;
}

.line{
	margin:0px;
}

.lineKey{
	color:red;
}

.lineValue{
	color:red;
}

.bookmark{
	text-decoration: underline;
	font-style: italic;
}
