.sudoBoxContainer{
	border: solid;
	border-color: white;
	border-radius: 5px;

	overflow-x: wrap;

	scrollbar-color: darkgrey #2f2f2f;
	scrollbar-width: thin;

	padding-bottom:10px;

}

.sudoBox{
	text-align: center;
    justify-content: center;
    align-items: center;
}

button{
	width: 100%;
}