.trackerContainer{
	border: solid;
	border-color: #2f2f2f;
	border-radius: 5px;

	height: 100%;
	overflow-y: scroll;
	overflow-x: wrap;

	scrollbar-color: darkgrey #2f2f2f;
	scrollbar-width: thin;

	text-align: right;
}

.tracker{
	height: 88vh;
	width: 16.66%;
	margin-top: 10px;
	transition: opacity .5s;
	background-color: #272822;
}

.playerPositionMarker{
	position: relative;
	margin-left: -4px;

	/*we need to align perfectly with the linecontainer
	element in the editor, which has a padding-bottom of 
	15px also.*/
	padding-bottom: 15px;
}