<template name="wordsBank">

  <div class="wordsBank">


    <button type="button" class="toggleWordsBank is-hidden">Banque de mots</button>
    <div class="toggleWordsBankBG"></div>

  	<div class="wordsBankContainer">



      <div class="words">
        <ul>
          {{#each getCollectedWords}}
            <li><a data-word-id="@index" class={{this.mine}}>{{this.word}}</a></li>
          {{/each}}
        </ul>
      </div>

      <div class="wordDetails">
        <h2 class="wordTitle">Go for it</h2>
        <div class="wordDefinition">
          Selectionnez un mot pour en lire la définition!
        </div>
        <figure class="wordCitation">
          <blockquote>
            <p class="citation"></p>
          </blockquote>
          <figcaption class="whoCitation"></figcaption>
        </figure>
      </div>

      <div class="wordsBankDetails">
        vous avez récolté <span id="wordsCountPlayer">{{miningStatus.iCollected}}</span> mot(s) sur les <span id="wordsCountTotal">{{miningStatus.total}}</span> contenus initialement dans votre page. La salle a moissonné <span id="wordsCountRoom">{{miningStatus.totalCollected}}</span> mot(s) en tout. Il vous reste <span id="wordsCountLeft">{{miningStatus.left}}</span> mot(s) à collecter.
      </div>

      <button type="button" class="closeWordsBank"></button>

  	</div>

  </div>

</template>
