.adminEditor{
	height: 88vh;
	width:33%;
	margin-top:10px;
	transition: opacity .5s;
	background-color:#272822;
}


.pleaseWaitAdmin{
	z-index: -1;
	color:red;
	position: absolute;
	left: 16.66%;
	top:50%;
	transform: translate(-50%,-50%);
}

.flexAdminContainer{
	display: flex;
	flex-direction: row;
}

.bookmarksLibrary{
	width:15%;
	margin:10px;
	transition: opacity .5s;
	background-color:#272822;
}