.adminEditor{
	height: 88vh;
	width:50%;
	margin-top:10px;
	transition: opacity .5s;
	background-color:#272822;
}
.adminEditor .storyEditorContainer {
	padding-left: 16.66%;
}


.pleaseWaitAdmin{
	z-index: -1;
	color:red;
	position: absolute;
	left: 25%;
	top:50%;
	transform: translate(-50%,-50%);
}

.flexAdminContainer{
	display: flex;
	flex-direction: row;
}

.adminWidget{
	width:15%;
	margin:10px;
	transition: opacity .5s;
	background-color:#272822;

	mix-blend-mode: lighten;
}

.strobe{
	animation: strobe 1s infinite ;
}

.activeButton{
 animation:  blinkRed 3s infinite;
}

@keyframes strobe {
  0%, 100% {
    background-color:red;
  }

  50% {
    background-color:#272822;
  }
}

@keyframes blinkRed {
  0%, 100% {
		border-radius: 4px;
    background-color:red;
    color: white;
  }

  50% {
		border-radius: 4px;
    background-color:white;
    color: black;
  }
}
