<template name="admin">
	<div class="flexHudContainer">
		<div class="hud">🖥</div>
		<div class="title"> {{env}} ADMIN. </div>
		<div class="hud">🖥</div>
	</div>

	<div class="pleaseWaitAdmin">
		<div>
		Data loading, please wait...
		</div>
	</div>

	<div class="flexAdminContainer">

		<!-- here render tracker component  -->

		<div class="adminEditor" style="opacity:{{subscriptionsReady}};">
		    <!-- render editor with data loaded here -->	
			{{> editor story}}
		</div>

		<div class="bookmarksLibrary" style="opacity:{{subscriptionsReady}};">
			{{> bookmarksLibrary bookmarks}}
		</div>

		<div class="bookmarksLibrary" style="opacity:{{subscriptionsReady}};">
			{{> spacebarControl}}
		</div>

	</div>
</template>