body{
	background-color: #272822;
	font-family: sans-serif;
	color: white;
}

/* shared admin & storyeditor markup */
.hud{
	color:black;
	margin-left:50px;
	margin-right:50px;
	font-size: 30px;
	align-self: center;
}

.flexHudContainer{
	background-color:darkgrey;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.title{
	color:black;
	align-self: center;
}

.controlsTitleBox{
	height: 25px;
	width: 100%;
	background-color:grey;
	display: block;
	margin-bottom: 10px;
	text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}