@font-face {
  font-family: inconsolataLight;
  src: url(/fonts/inconsolataLight.ttf);
}
@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/fonts/UbuntuMono-Regular.woff2') format('woff2'),
        url('UbuntuMono-Regular.woff') format('woff'),url()
        url('/fonts/ubuntu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: victorMonoLight;
  src: url(/fonts/victorMonoLight.ttf);
}
@font-face {
  font-family: firaCodeLight;
  src: url(/fonts/firaCodeLight.ttf);
}
@font-face {
    font-family: 'Avara_Bold Italic';
    src:    url('/fonts/Avara-Bold_Italic.eot');
    src:    url('/fonts/avara-bolditalic-webfont.woff') format('woff'),
            url('/fonts/avara-bolditalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
html {
  height: 100%;
  width: 100%;
}
body{
/*	remove this line asap  */
transition: background-color 1s;

  height: 100%;
  width: 100%;
	background-color: #272822;
	/* font-family: "firaCodeLight", sans-serif; */
	font-family: 'Ubuntu Mono', sans-serif;
	color: white;
  margin: 0;
}

/* shared admin & storyeditor markup */
.hud{
	color:black;
	margin-left:50px;
	margin-right:50px;
	font-size: 30px;
	align-self: center;
}

.flexHudContainer{
	background-color:darkgrey;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.title{
	color:black;
	align-self: center;
}

.controlsTitleBox{
	height: 25px;
	width: 100%;
	background-color:grey;
	display: block;
	margin-bottom: 10px;
	text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
