#🗑:hover{
	cursor: pointer;
	background-color:red;
}

.editorBody{
	transition: opacity .5s;

	background-color:#272822;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 50vw;
	border: white;
	margin-top:10px;
	margin-bottom:10px;
	padding-left: 50px;

	height: 75vh;
}

.pleaseWait{
	color:red;
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
}

.paramsCollapser{
	margin-top:25px;
}

.editorGuidelines{
	position: fixed;
	right: 5vw;
	width: 10vw;
	font-size: 12px;
	top: 50%;
	transform: translateY(-50%);
}